<header class="homePage">
    <div>
        <form action="/home/search" data-bind="submit: search" method="get">
            <h1>Mug Lyon</h1>
            <div>
                <input type="search" data-bind="value: SearchValue, valueUpdate: 'afterkeydown'" placeholder="Search a mug..." />
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
</header>